body {
    margin: 0 auto;
    height: 100%;
}
header {
    min-width: 1280px;
    background-color:rgb(68, 81, 97); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 50px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header img {
    width: 469px;
    height: 214px;
    display: block;
}
h1{
    margin: 0px;
    font-family: Arial;
    padding-bottom: 51px;
color:  #ffffff;
font-size: 60px;
font-weight: 400;
text-align: left;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
header i {
    width: 25px;
    height: 19px;
}
.header ul {
    display: block;
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}
.header li {
    font-family: Arial;
color:  #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 36px;
text-align: left;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*about*/
.about {
    flex-wrap: nowrap;
    padding: 50px;
}
.about  div{
    /*width: 100%;*/
    /*background-color: rgb(255, 255, 255);*/
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
h2 {
   
font-family: Arial;
color:  #445161;
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-align: left;
}
.about h2 {
    margin: 0px;
    padding-bottom: 30px;
    width: 254px;
}
.about p{
    margin: 0px;
    padding-bottom: 20px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 650px;
}
.video{
    width: 430px;
    height: 245px;
    display: block;

}

/*dignity*/
.dignity {
    margin: 0px;
    padding: 50px;
    background-color: rgb(230, 227, 227);
}
.dignity h2 {
    margin: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
    
.dignity div {
    margin: 0px;
    width: 567px;
}
summary {
    padding-bottom: 35px;
}
summary::-webkit-details-marker {
    display: none;
  }
  summary:after {
    background:   #445161;
    width: 32px;
    height: 32px;
    content: "+"; 
    color: #fff; 
    float: left; 
    font-size: 1.5em; 
    font-weight: bold; 
    margin: -5px 10px 0 0; 
    padding: 0; 
    text-align: center; 
  }
  details[open] summary:after {
    content: "-";
  }

/*section scrinshots*/
.scrinshots {
    margin: 0px;
    padding: 50px;
}

.scrinshots h2 {
    margin: 0px;
    padding-bottom: 35px;
    width: 100%;
    margin: 0px;
    text-align: center;
}
figure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}
figure img {
    margin: 0px;
    padding-bottom: 30px;
    padding-right: 15px;
    width: 200px;
    height: 150px;
}
figcaption {
    width: 359px;
    /*margin-left: 15px;*/
}
figure p{
    margin: 0px;
}
figure h3 {
    margin: 0px ;
    padding-bottom: 15px;
    font-family: Arial;
color:  #445161;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;
}

/*reviews"*/ /* треуголник????*/
.reviews  {
    margin: 0px;
    padding: 50px;
    background-color: rgb(230, 227, 227);
}
.reviews div {
    padding-bottom: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.reviews h2 {
    padding: 35px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.img {
    padding-right: 16px;
    margin: 0px;
    border-radius: 50%;
background-color:  #445161;
width: 75px;
height: 75px;
margin-right: 16px;
}
.reviews p{
    padding-top: 16px;
    padding-left: 20px;
    margin: 0px;
    width: 483px;
    border-radius: 10px;
    background-color: rgb(179, 174, 174);
    font-family: Arial;
color:  #333333;
font-size: 14px;
font-style: italic;
line-height: 18px;
text-align: left;
}
.reviews span{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 16px;
    display: block;
    font-family: Arial;
color:  #989898;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: left;
}

/*buyitnow*/
.buyitnow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 145px;
    
}
.buyitnow h2 {
    width: 100%;
    text-align: center;
    margin: 0px;
    /*margin-top: 50px;*/
}
.buyitnow div {
    background-color: rgb(68, 81, 98);
    width: 300px;
    height: 499px;
    border-radius: 5px;
    /* pa-bottom: 49px;
    margin-right: 45px;
    margin-top: 29px; */
}
.culomn1 {
    max-height: 306px;
}
.culomn2 {
    max-height: 404px;
}

.buyitnow span {
    padding-left: 105px;
    font-family: Arial;
color:  #ffffff;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
}

#pryace {
    display: block;
    height: 53px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 18px;
    background-color: white;
color:  #445162;
font-size: 40px;
font-weight: 400;
}
.buy_it_now ol{
    font-family: Arial;
color:  #ffffff;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.buy_it_now a{
    text-decoration: none;
    margin: 20px;
    display: block;
    border-radius: 5px;
    background-color:  #ffffff;
    width: 260px;
    height: 40px;
    font-family: Arial;
color:  #445161;
font-size: 18px;
font-weight: 700;
line-height: 18px;
    font-variant: small-caps;
    text-align: center;
}

/*footer*/
.footer_Form{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: rgb(68, 81, 97);
}
.form {
    display: flex;
    flex-direction: column;
    margin-left: 249px;
    margin-top: 0px;
}
.footer_Form h2 {
    margin-left: 333px;
    margin-bottom: 31px;
    margin-top: 53px;
flex-direction: column;
color:  #ffffff;
}
.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form input{
    border-radius: 5px;
background-color:  #ffffff;
width: 500px;
height: 40px;
margin-bottom: 21px;
font-family: Arial;
color:  #445162;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
textarea {
border-radius: 5px;
background-color:  #ffffff;
width: 500px;
height: 170px;
margin-top: 1px;
margin-bottom: 21px;
font-family: Arial;
color:  #445162;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
 #submit {
margin-left: 180px;
border-radius: 5px;
background-color:  #ffffff;
width: 140px;
height: 40px;
font-variant: small-caps;
font-weight: 700;
line-height: 24px;
text-align: center;
}
.adress {
    margin-left: 46px;
    margin-top: 106px;
}
.adress i {
    width: 24px;
    height: 26px;
}
.adress ul {
    display: block;
    list-style-type: none;
    padding: 0%;
    margin: 0px;
    font-family: Arial;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.copyright {
display: flex;
flex-direction: row;
justify-content: center;
font-family: Arial;
color:  #445162;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.3px;
line-height: 24px;
text-align: center;
}