body {
    margin: 0 auto;
    height: 100%;
    width: 1280px;
}
header {
    min-width: 1280px;
    background-color:rgb(68, 81, 97); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 50px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header img {
    width: 469px;
    height: 214px;
    display: block;
}
h1{
    margin: 0px;
    font-family: Arial;
    padding-bottom: 51px;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.header ul {
    display: block;
    padding: 0%;
    margin: 0px;
}
.header ul li {
    list-style: none;
    font-family: Arial;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.header ul li::before {
   content: url("../img/check\ icon.png");
    margin: 0 10px 0 0;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*about*/
.about {
    flex-wrap: nowrap;
    padding: 50px;
}
.about  div{
    /*width: 100%;*/
    /*background-color: rgb(255, 255, 255);*/
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
h2 {
   
    font-family: Arial;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}
.about h2 {
    margin: 0px;
    padding-bottom: 30px;
    width: 254px;
}
.about p{
    margin: 0px;
    padding-bottom: 20px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 650px;
}
.video{
    width: 430px;
    height: 245px;
    display: block;

}

/*dignity*/
.dignity {
    margin: 0px;
    padding: 50px;
    background-color: rgb(230, 227, 227);
}
.dignity h2 {
    margin: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
    
.dignity div {
    margin: 0px;
    width: 526px;
}

summary {
    padding-bottom: 35px;
    padding-left: 9px;
    outline: none;
    position: relative;
}
summary::-webkit-details-marker {
    display: none;

  }
  summary:after {
    display: block;
    background:   #445161;
    width: 32px;
    height: 32px;
    content: "+"; 
    color: #fff; 
    float: left; 
    right: 2px;
    position: absolute;
    top: 0;
    left: -32px;
    font-size: 30px; 
    font-weight: bold; 
    /*margin: -5px 10px 0 0;*/ 
    padding: 0px;
    text-align: center;
  }
  details[open] summary:after {
    content: "-";
  }

/*section scrinshots*/
.scrinshots {
    margin: 0px;
    padding: 50px;
}

.scrinshots h2 {
    margin: 0px;
    padding-bottom: 35px;
    width: 100%;
    margin: 0px;
    text-align: center;
}
figure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}
figure img {
    margin: 0px;
    padding-bottom: 30px;
    padding-right: 15px;
    width: 200px;
    height: 150px;
}
figcaption {
    width: 359px;
    /*margin-left: 15px;*/
}
figure p{
    margin: 0px;
}
figure h3 {
    margin: 0px ;
    padding-bottom: 15px;
    font-family: Arial;
    color:  #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

/*reviews"*/ 
.reviews  {
    margin: 0px;
    padding: 50px;
    background-color: rgb(230, 227, 227);
}
.reviews {
    padding-bottom: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.reviews h2 {
    padding: 35px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.img {
    /*padding-right: 16px;*/
    margin: 0px;
    border-radius: 50%;
    background-color:  #445161;
    width: 75px;
    height: 75px;
    margin-right: 16px;
}
.reviews p{
    padding-top: 16px;
    padding-left: 20px;
    margin: 0px;
    width: 467px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(179, 174, 174);
    border: 1px solid rgb(179, 174, 174);
    font-family: Arial;
    color:  #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}
.reviews p:before {
    content: "";
    display: block;
    border: 15px solid transparent;	
    border-right: 15px solid rgb(179, 174, 174);
    position: absolute;
    top: 30px;
    left: -30px;
  }
.reviews span{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 16px;
    display: block;
    font-family: Arial;
    color:  #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

/*buy_it_now*/
.buy_it_now {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 145px;
    
}
.buy_it_now h2 {
    width: 100%;
    text-align: center;
    margin: 0px;
    /*margin-top: 50px;*/
}
.buy_it_now div {
    background-color: rgb(68, 81, 98);
    width: 300px;
    height: 499px;
    border-radius: 5px;
    /* pa-bottom: 49px;
    margin-right: 45px;
    margin-top: 29px; */
}
.culomn1 {
    max-height: 306px;
}
.culomn2 {
    max-height: 404px;
}

.buy_it_now span {
    padding-left: 105px;
    font-family: Arial;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

#pryace {
    display: block;
    margin: 0px;
    padding-left: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: white;
    color:  #445162;
    font-size: 40px;
    font-weight: 400;
    box-sizing: border-box;
    
}
.buy_it_now ol{
    font-family: Arial;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.buy_it_now a{
    text-decoration: none;
    margin: 20px;
    display: flex;
    border-radius: 5px;
    background-color:  #ffffff;
    width: 260px;
    height: 40px;
    font-family: Arial;
    color:  #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}
#button {
    margin: auto;
    padding: 0;
    font-family: Arial;
    color:  #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

/*footer*/
.footer_Form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(68, 81, 97);
}
.form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 249px;
}
.footer_Form h2 {
    margin: 0;
    padding: 53px 0 31px 333px ;
    flex-direction: column;
    color:  #ffffff;
}
.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form input{
    border-radius: 5px;
    background-color:  #ffffff;
    width: 500px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*height: 40px;*/
    margin-bottom: 21px;
    font-family: Arial;
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
textarea {
    border-radius: 5px;
    background-color:  #ffffff;
    width: 500px;
    /* height: 170px; */
    margin-top: 1px;
    margin-bottom: 21px;
    font-family: Arial;
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
 #submit {
    margin-left: 180px;
    border-radius: 5px;
    background-color:  #ffffff;
    width: 140px;
    /* height: 40px; */
    font-variant: small-caps;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
.adress {
    margin-left: 46px;
    margin-top: 106px;
}
.adress ul li i {
    color: white;
    padding-right: 5px;
}
#icq::before{
    padding-right: 5px;
    content: url(../img/icq\ icon.png)
}
.adress ul {
    /*display: block;*/
    list-style-type: none;
    /*padding-bottom: 32px;*/
    padding-left: 0px;
    margin: 0px;
    font-family: Arial;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.adress ul li {
    padding-bottom: 21px;
    height: 26px;
}
.adress ul li:last-child {
    padding-bottom: 32px;
    }
.fab {
    height: 42px;
    padding-right: 10px;
    color: #ffffff;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial;
    color:  #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
}