body {
    margin: 0 auto;
    padding: 0;
    width: 1920px;
    height: 0;
}
/***********у кнопок стилизация тень!?*********/
/*******************header************//*слайдер, изменение пагинации*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Waxom {
    display: block;
    justify-content: flex-start;
    padding-top: 55px;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 34px;    
    font-weight: 400;
    text-align: right;
}
.logo {
    padding: 40px 0px 0px 376px;
    fill:   #ffffff;
}
nav a {
    padding-right: 30px;
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
nav {
    padding: 62px 0px 0px 219px;
    display: flex;
    justify-content: flex-start;
}
.iconsc {
    display: block;
   fill:  #ffffff;
   padding: 55px 28px 0px 63px;
}
.iconss{
   display: block;
   fill:  #ffffff;
   padding: 55px 374px 0px 0px;
}
nav a:hover {
    color:  #c7b29a;
}
.iconsc svg:hover {
    fill:  #c7b29a;
    cursor: pointer;
 }
.iconss svg:hover {
    fill:  #c7b29a;
    cursor: pointer;
 }
.left svg {
    display: block;
    justify-content: flex-start;
    padding-top: 379px;
    padding-left: 150px;
    fill:  #ffffff;
}
header div{
    display: flex;
    flex-direction: column
}
#header {
width: 100%;
padding: 285px 0px 0px 0px;
text-align: center;
margin: 0;
font-family: Raleway;
color:  #ffffff;
font-size: 36px;
font-weight: 500;
text-align: center;
}
h1{
margin: 0;
padding: 14px 476px 0px 476px;
font-family: Raleway;
color:  #ffffff;
font-size: 52px;
font-weight: 700;
text-align: center;
}
#headertext {
margin: 0;
width: 562px;
padding: 14px 0px 52px 490px;
font-family: Montserrat;
color:  #ffffff;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: center;
}
#btn-header{
margin-left: 686px;
padding-top: 21px;
padding-bottom: 21px;
text-decoration: none;
border-radius: 3px;
background-color:  #998675;
width: 170px;
font-family: Raleway;
color:  #ffffff;
font-size: 14px;
font-weight: 700;
line-height: 23px;
text-align: center;
text-transform: uppercase;
}
#btn-header:hover {
    background-color: rgb(130, 64, 133);
    color: #445162;
    }
#btn-header:active { 
    background-color:  #653267;
    color: #445162;
    border-color: #fff;
    }
.right {
padding-top: 379px;
fill: #ffffff;
padding-right: 150px;
}
.left svg:hover {
    fill:  #d3c1ad;;
}
.right svg:hover {
    fill:  #d3c1ad;;
}
#list_header li{
    display: inline;
    list-style: none;
    fill:  #ffffff;
    padding-right: 9px;
}
#list_header {
margin: 0;
padding-top: 329px;
padding-bottom: 42px;
}
/*#list_header li:active{
    content: url(/img/02.png)
    fill:  #ffffff;
}*/
/**********section menu**********/ /*Наведение на элемент, изменение цвета*/
.menu {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 80px 376px 113px 378px;
}
.menu div {
    position: relative;
}
.menu div:after {
    position: absolute;
    content: "";
    top: 210px;
    left: 98px;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
 }
.menu svg{
    fill:   #555555;
    padding-left: 109px;
}
.menu h3{
margin: 0;
padding: 29px 0px 19px 0px;
font-family: Raleway;
color:  #555555;
font-size: 22px;
font-weight: 600;
text-align: center;
}
.menu p{
width: 266px;
margin: 0;
font-family: Montserrat;
color:  #8c8c8c;
font-size: 14px;
font-weight: 300;
line-height: 24px;
text-align: center;
}
/**********Waxom********/
.waxom_is{
    display: flex;
    flex-direction: column;
    padding: 83px 344px 0px 346px;
    background-color:  #fbfaf8;
}
.waxom_is h2{
margin: 0;
padding-bottom: 24px;
font-family: Raleway;
color:  #555555;
font-size: 30px;
font-weight: 600;
text-align: center;
}
.waxom_is p{
margin: 0;
padding-left: 237px;
width: 757px;
font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: center;
}
.waxom_is div{
    width: 770px;
    height: 482px;
}
.one{
    position: relative;
    top: 122px;
    left: 0px;
    background-image: url(img/browser-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.one:hover {
    z-index: 3;
}
    
.tow{
    position: absolute;
    margin: 0;
    top: 1770px;/*размеры не точные, не совпадвют с макетом*/
    left: 806px;
    background-image: url(img/browser-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tow:hover {
    z-index: 2;
}
    
.three{
    position: absolute;
    margin: 0;
    top: 1700px;/*размеры не точные, не совпадвют с макетом*/
    left: 576px;
    background-image: url(img/browser-center.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*************aside******/ /*отступ от предыдущего блока, блок должен наезжать на предыдущий*/
aside{ 
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
margin-top: 121px;
padding: 48px 0px 49px 376px;
background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
aside div{
   width: 533px;
   padding-right: 468px;
}
aside h2{
margin: 0;
font-family: Raleway;
color:  #c7b299;
font-size: 28px;
font-weight: 400;
text-align: left;
/* Встроенный стиль */
font-family: Raleway;
color:  #ffffff;
font-size: 28px;
font-weight: 400;
text-align: left;
}
.btnaside{
margin-right: 0px;
padding: 19px 20px 29px 28px;
width: 462px;
border-radius: 3px;
background-color:  #998675;
width: 170px;
text-decoration: none;
text-transform: uppercase;
font-family: Raleway;
color:  #ffffff;
font-size: 14px;
font-weight: 700;
line-height: 23px;
text-align: center;
}
.btnaside:hover {
    background-color: rgb(130, 64, 133);
    color: #445162;
    }
.btnaside:active { 
    background-color:  #653267;
    color: #445162;
    border-color: #fff;
    }
aside p{
margin: 0;
padding-top: -20px;
font-family: Montserrat;
color:  #615855;
font-size: 18px;
font-weight: 300;
text-align: left;
}
/**************our latest******************/
/*.our_latest{
padding: 81px 0px 80px 376px;
}*/
.our_latest h2{
margin: 0;
padding-left: 823px;
margin-top: 81px;
font-family: Raleway;
color:  #555555;
font-size: 30px;
font-weight: 600;
}
.our_latest p{
margin: 0;
padding-top: 24px;
padding-left: 583px;
width: 755px;
font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: center;
}
.our_latest ul{
    margin: 0;
    padding-left: 658px;
    padding-top: 40px;
}
.our_latest ul li{
margin: 0px;
display: inline;
list-style: none;
}
.our_latest ul li a:hover {
background-color:  #998675;
color: white;
}

.our_latest ul li a {
margin-right: 20px;
padding: 10px 21px 8px 21px;
border-radius: 3px;
border-style: solid;
border-width: 1px;
border-color:  #ebebeb;
box-sizing: border-box;
background-color:  rgba(17, 17, 17, 0);
width: 120px;
height: 32px;
font-family: Montserrat;
color:  #8c8c8c;
font-size: 14px;
font-weight: 300;
line-height: 21px;
text-align: center;
text-decoration: none;
}
.conteiner {
margin-left: 376px;
margin-top: 40px;
margin-right: 374px; 
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.our_cont1, .our_cont2, .our_cont3, .our_cont4, .our_cont5, .our_cont6{
    /*margin-right: 30px;*/
    margin-bottom: 30px;
}
.our_cont1{
width: 370px;
background-color:  #fbfaf8; 
position: relative;
}
.our_cont1:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #fbfaf8;
}
.our_cont2{
width: 370px;
position: relative;
background-color:  #362f2d;
}
.our_cont2:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #362f2d;
}
.our_cont3{
width: 370px;
position: relative;
background-color:  #fbfaf8;
}
.our_cont3:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #fbfaf8;
}
.our_cont4, .our_cont5, .our_cont6{
width: 370px;
position: relative;
background-color:  #fbfaf8;;
}
.our_cont4:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #fbfaf8;;
}
.our_cont5:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #fbfaf8;;
}
.our_cont6:before{
margin: 0px;
content: "";
top: 198px;
left: 19px;
position: absolute;
border: 20px solid transparent;
border-bottom: 20px solid #fbfaf8;;
}
.our_cont img{
width: 370px;
}
.conteiner h3{
margin: 0;
padding-top: 28px;
padding-left: 30px;
font-family: Raleway;
color:  #c7b29a;
font-size: 20px;
font-weight: 500;
text-align: left;   
}
.conteiner p{
width: 370px;
margin: 0;
padding: 14px 0px 27px 30px;
font-family: Montserrat;
color:  #d1d1d1;
font-size: 14px;
font-weight: 300;
line-height: 20px;
text-align: left;
}
.btn_our{
margin: 40px 0px 0px 876px;
padding: 19px 45px 20px 44px;
border-radius: 3px;
background-color:  #998675;
width: 170px;
height: 50px;
font-family: Raleway;
color:  #ffffff;
font-size: 14px;
font-weight: 700;
line-height: 23px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
.video{
padding-top: 80px;
}
/**********eallent*******/
.exallent{
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.exallent figure {
margin: 0;
padding-top: 79px;
padding-left: 423px;
}
.exallent_for h2{
margin: 0px;
padding: 195px 0px 40px 31px;
font-family: Raleway;
color:  #555555;
font-size: 30px;
font-weight: 600;
text-align: left;
}
.exallent_for p{
margin: 0;
padding-left: 29px;
padding-bottom: 40px;
width: 657px;
font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.exallent_for details {
font-family: Montserrat;
color:  #8c8c8c;
font-size: 16px;
font-weight: 300;
line-height: 32px;
text-align: left;
padding-left: 79px; 
}
/*******statistic**********/
.statistic {
padding-top: 69px;
padding-left: 496px;
display: flex;
flex-direction: row;
justify-content: space-around;
background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
width: 1920px;
}
.numbers{
    display: flex;
    flex-direction: column;
    width: 133px;
}
.numbers svg{
padding-left: 44px;
padding-bottom: 30px;
fill:  #c7b299;
}
.number {
font-family: Montserrat;
color:  #ffffff;
font-size: 48px;
font-weight: 200;
line-height: 36px;
text-align: center;
}
.text{
font-family: Montserrat;
color:  #c7b299;
font-size: 14px;
font-weight: 300;
line-height: 20px;
text-align: center;
}